*.exe
build
errors.txt
tester_1_prof.cpp
utils.o
ws
ws_tester_1
tester
diff.txt
tester_1_output_prof.txt
tester_1_output_stud.txt
main
tester_2_output_prof.txt
tester_2_output_stud.txt
tester_2_prof.cpp
ws_tester_2
main.dSYM